body{
    margin: 0;
}
#cannvas{
    position: fixed;
    bottom: 100px;
    right: 1000px;
}
#navtext{
   font-family: Arial   ;
    margin: 7px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232323;
}

#ctext{
    margin-left: 10px;
   margin-top: 30px;
}
#rcorners1 {
    border-radius: 25px;
    background: #fcfc75;
    padding: 20px;
    width: 200px;
    height: 150px;
}
button{
    background-color: #a6a6a6;
    border-radius: 25px;

}
    div{
        position: fixed;
        bottom: 400px;
        right: 1000px;
            border-radius: 25px;
            background: #fcfc75;
            padding: 20px;
            width: 300px;
            height: auto;

    }

body {
    background-color:white;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}